body {
    background-color: #131313;
}

.card {
    width: 190px;
    height: 270px;
    border-radius: 14px;
    margin: auto;
    background: #161616;
    margin-top: 190px;   
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.938),
                -15px -15px 30px rgba(0, 0, 0, 0);      
   }
.card2 {
    
}
   
  
img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 50px;
    margin-top: 23px;
  
}

a {
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.button {  
    margin-top: 10px;
    
    margin-left: 45px;
    padding:6px 12%;
    width: 50px;
    color: rgba(253, 253, 253, 0.377);
    background: #161616;
    border: 1px solid #fdfdfd41;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    transition: 1s;
}
.button:hover {
    background: #da3012;
}

.we {
    color: #cecece;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}    

.wee2 {
    color: #cecece;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-bottom: 20px;
}


    